a {
  text-decoration: none;
  position: relative;
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 0.75rem; /* gap-3 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 0.5rem; /* p-2 */
  text-align: left;
  font-size: 1rem; /* text-base */
  line-height: 1.5rem; /* /6 */
  font-weight: 500; /* font-medium */
  /* color: #18181b; text-zinc-950 */
  color: var(--color-gray-500) !important;
}

@media (min-width: 640px) {
  /* sm */
  a {
    font-size: 0.875rem; /* text-sm */
    line-height: 1.25rem; /* /5 */
  }
}

a:hover,
a.active {
  color: var(--color-gray-800) !important;
  background-color: var(--color-gray-custom-230);
  transition: "all 0.2s";
}
